*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color:  #fff;
   border-radius: 1.7rem;
   color: #fff;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 1.2rem;

}
.inputs {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   
}
.search {
   background-color: rgba(37, 26, 187, 0.794);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.num-of-students {
   text-align: center;
   font-weight: 700;
   font-size: 1.2rem;
}
#nameField {
   width: 80%;
   border-radius: 2.1rem;
   padding: 0.3rem;
   margin: 1rem;
   font-weight: bold;
   outline: none;
   border: 0;
   transition: transform 150ms ease-in-out ;
   background-color: #fff;
   color: #000;

}

#nameField:hover ,.remove-names:hover {
  
   transform: scale(1.02);
}

.remove-names {
   padding: 0.4rem;
   border-radius: 2.1rem;
   border: none;
   background-color: #fff;
   color: rgba(49, 49, 49, 0.972);
   cursor: pointer;
   font-size: 0.7rem;
   transition: transform 150ms ease-in-out ;
   font-weight: 700;
}

li {
   font-size: 1.1rem;
   background-color: #fff;
   color: #130202;
   margin: 0.8rem;
   font-weight: 500;
   border-radius: 1.5rem;
   /* padding: 0.9rem; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   transition: transform 155ms ease-in-out;
   padding-right: 1.2rem;
   padding-top: 0.9rem;
   padding-left: 0.9rem;
   padding-bottom: 0.9rem;
}
li:hover:not(.listItem){
   transform: scale(1.061, 1.05);
   box-shadow: rgba(37, 26, 187, 0.329) 5px 5px 15px;
   background-color: rgba(37, 26, 187, 0.794);
   color: #fff;
}


/* span {
   color: rgb(10, 0, 0);
   font-weight: 700;
   font-size: 1em;
} */

ul{
   list-style-type: none;
   margin: 1.5rem;
   margin-top: 0;
   
}

.hide {
   display: none;
}

.listItem {
   background-color: rgba(37, 26, 187, 0.794);
   color: #fff;
   width: 100%;
   margin: 0; 
  
   font-size: 1.2rem;

}
p {
   
   display: flex;
   justify-content: space-between;
   padding: 1.1rem 2.4rem 1.1rem 3.4rem;
   border-radius: 2rem 2rem 0 0  ;
}

.results {
   border-radius: 2.2rem;
   width: 90%;
   margin: auto;
   margin-top: 1.2rem;
   

}
.border {
   border: solid rgba(37, 26, 187, 0.794) 1.5px ;
}

::selection {
   background-color: #fff;
   color: black;
}
